[maxscale]

threads=auto
syslog=0
maxlog=1
log_warning=1
log_notice=1
log_info=0
log_debug=0

[Galera-Monitor]

type=monitor
module=galeramon
servers=server1,server2,server3
user=maxscale
password=password
monitor_interval=2000
disable_master_failback=1
available_when_donor=1

[RW-Split-Router]
type=service
router=readwritesplit
servers=server1,server2,server3
user=maxscale
password=password
max_slave_connections=100%
max_slave_replication_lag=30

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MariaDBClient
port=3306

{%for host in groups['galera_cluster']%}
[server{{loop.index}}]
type=server
address={{hostvars[host].ansible_host}}
port=3306
protocol=MariaDBBackend

{% endfor %}
